<h2>Item Locations</h2>
<div class="input-group item-area-btns">
    <div class="input-group-btn">
        <label *ngFor="let area of areaKeys" class="btn btn-default area-btn-{{ area.toLowerCase() }}" [(ngModel)]="showArea[area]" btnCheckbox>{{ area }}</label>
    </div>
    <button class="btn btn-default area-selectall-btn" (click)="selectOrDeselectAll()">Select All</button>
</div>
<div class="input-group item-status-btns">
    <div class="input-group-btn">
        <label class="btn btn-default" [(ngModel)]="locationShowModel" btnRadio="all">All</label>
        <label class="btn btn-default" [(ngModel)]="locationShowModel" btnRadio="found">Found</label>
        <label class="btn btn-default" [(ngModel)]="locationShowModel" btnRadio="remaining">Remaining</label>
    </div>
</div>
<ul class="list-group">
    <ng-container *ngFor="let itemLocation of itemLocations | async">
        <li *ngIf="shouldShowLocation(itemLocation)" class="list-group-item item-{{ itemLocation.area.toLowerCase() }}">
            <h4>{{ itemLocation.location }}</h4>
            <span>{{ itemLocation.area }}</span>
            <span class="item-original">{{ itemLocation.item }}</span>
            <div class="input-group">
                <div class="input-group-btn">
                    <label class="btn btn-default" [(ngModel)]="itemLocation.found" btnCheckbox>Found</label>
                    <label class="btn btn-default" [(ngModel)]="itemLocation.obtained" *ngIf="itemLocation.found" btnCheckbox>Obtained</label>
                </div>
                <input class="form-control" type="text" [(ngModel)]="itemLocation.actualItem" *ngIf="itemLocation.found"/>
            </div> 
        </li>
    </ng-container>
</ul>